{% extends 'layout.html.twig' %}

{% block title %}
Forgot Your password on {{ parent() }}
{% endblock %}

{% block content %}
<div class="about-area area-padding" style="background-color: rgb(190, 215, 226);">
    <div class="container" style="margin-top: 25px;">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center">
                <h2>Forgot Your <span>So</span>Pay Password ?</h2>
              </div>
            </div>
          </div>
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <p class="mb-4">We get it, stuff happens. Just enter your email address below
                                            and we'll send you a link to reset your password!</p>
                                            <h4 id="errorTag" style="display: none;"></h4>
                                    </div>
                                    <form class="user" id="resetPass">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                id="email" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address..." required>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block" >Reset Password</button>
                                        
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{{path('sopay_register')}}">Create an Account!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{{path('sopay_login')}}">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
    {% endblock %}
    {% block script %}
   <script>
        $(document).ready(function(){
            
            $('#resetPass').on('submit', function(e){
                e.preventDefault();
                let email = $('#email').val();
                $.ajax({
                    url: "{{ path('sopay_forgot_password') }}",
                    type: "POST",
                    dataType: "JSON",
                    data: {email: email},
                    success:function(data)
                     {
                        $('#errorTag').text(data.message).attr('style', 'border-color:red; color:red;').show();
                        if(data.success == true){
                            $('#errorTag').attr('style', 'color:green;');
                            setTimeout(function(){ window.location.href = "{{ path('sopay_login') }}"; }, 2000);
                        }
                     },
                   error: function(err){
                    console.log(err);
                   }
                 });
            });
        });
    </script>
    {% endblock %}
